<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row row-cols-3">
                <!-- loop over products collection-->
                <div  *ngFor="let product of products" class="col-sm-3">
                    <div class="product-box">
                        <a routerLink="/products/{{ product.id }}">
                            <img ngSrc='{{ product.imageUrl }}' width="120" height="150" class="img-fluid"/>
                        </a>
                        <a routerLink="/products/{{ product.id}}">
                            <h1>{{ product.name }}</h1>
                        </a>
                        <div class="price">{{ product.unitPrice | currency: 'USD' }}</div>
                        <a href="#" class="primary-btn">Add to cart</a>
                    </div>
                </div>
                <!-- if products empty then display a message -->
                <div *ngIf="products?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No Product Found.
                </div>
            </div>
        </div>
    </div>
</div>
